<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Shopping Cart</title>
    <link rel="stylesheet" href="./styles/cart.css">
    <link rel="stylesheet" href="./styles/style.css">

    <style>
        .container {
            text-align: center; 
            margin: 0 auto;
            width: 80%;
        }

        table {
            border-collapse: collapse;
            margin: 0 auto;
            width: auto; 
        }

        th, td {
            border: 1px solid #dddddd;
            text-align: left;
            padding: 8px;
            width: auto; 
            min-width: 10vw;
        }

        th {
            background-color: #f2f2f2;
        }

        nav {
            display: flex;
            justify-content: space-between;
            background-color: #008000;
            padding: 0;
        }

        .menu{
            display: flex;
            margin-right: 20px;
        }

        nav a {
            color: white;
            text-decoration: none;
            font-size: 1.25rem;
            margin: 2px;
        }

    </style>
</head>
<body>
    <header>
        <h1>Shopping Cart</h1>
    </header>
    <div class="rowInd2">
        <nav class = "menu">
            <ul>
                <a href="<%= homePage %>"> Home</a> 
            </ul>
            <a href="/logout"> Logout</a>
        </nav>
    </div>
    <main>
        <div class="cart-items">
            <table>
                <% if (cart.length > 0) { %>
                    <thead>
                        <tr>
                            <th>Name</th>
                            <th>Price</th>
                            <th>Date</th>
                        </tr>
                    </thead>
                    <% } %>
                <tbody>
                    <% let totalPrice = 0; %>
                    <% for (let i = 0; i < cart.length; i++) { %>
                        <tr>
                            <td><%= cart[i].item_name %></td>
                            <td><%= cart[i].price %></td>
                            <td><%= new Date(cart[i].date).toLocaleDateString('en-US', { month: 'short', day: '2-digit', year: 'numeric' }) %></td>
                            <td>
                                <!-- Remove button sends a POST request to /cart/remove -->
                                <form action="/cart/remove" method="POST" style="display:inline;">
                                    <input type="hidden" name="item_name" value="<%= cart[i].item_name %>">
                                    <button type="submit" style="background-color: 008000; color: white; border: none; padding: 5px; cursor: pointer; width: 200px; height: 50px;">Remove</button>
                                </form>
                            </td>
                        </tr>
                        <% totalPrice += cart[i].price; %>
                    <% } %>                
                </tbody>
            </table>
        </div>
        <div class="cart-total">
            <h2>Total: <%= totalPrice.toFixed(2) %></h2>
            <button><a href="/payments" style="color: white; text-decoration: none;;">Buy</a></button>
        </div>
    </main>
    <div class="rowSearchResults3">
        <div class="store">
            <footer class="footer">
                <div class="copyright">
                    <a href="/" class="logo"></a>
                    <span>© <%= new Date().getFullYear() %> Your Website, Inc</span>
                </div>
            </footer>
        </div>
    </div>
</body>
</html>
